#root {
  background-color: #242424;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
  .logo {
    display: flex;
    cursor: pointer;
    &__img {
      width: 48px;
      height: 48px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 15px;
      margin: 5px;
      &-game {
        color: #da00fe;
      }
      &-store {
        color: #a100ed;
        margin-left: 20px;
      }
    }
  }
  .menu {
    display: flex;
    list-style-type: none;
    &__item {
      padding-right: 10px;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      & a {
        color: #8a8a8a;
        text-decoration: none;
        &:hover {
          color: #da00fe;
        }
      }
    }
  }
  &__search {
    width: 360px;
    background-color: #323232;
    border-radius: 16px;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    &-img {
      margin-left: 20px;
    }
    &-field {
      border: none;
      background-color: #323232;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      margin-left: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  &__wishlist {
    display: flex;
    gap: 20px;
    height: fit-content;
    margin-top: 0;
    margin-bottom: auto;
    position: relative;
    align-items: center;
    &-basket {
      position: relative;
      cursor: pointer;
      & p {
        text-align: center;
        margin: 0;
        background-color: #ffffff;
        padding: 0 0 2px 0;
        border-radius: 20px;
        width: 20px;
        color: #da00fe;
        font-weight: 600;
        font-size: 14px;
        height: 18px;
        position: absolute;
        top: -3px;
        right: -2px;
      }
    }
    &-favorites {
      position: relative;
      cursor: pointer;
      & p {
        text-align: center;
        margin: 0;
        background-color: #ffffff;
        padding: 0 0 2px 0;
        border-radius: 20px;
        width: 20px;
        color: #da00fe;
        font-weight: 600;
        font-size: 14px;
        height: 18px;
        position: absolute;
        top: 0px;
        right: 2px;
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#550a78, #da00fe);
  margin: 20px 230px;
  border-radius: 16px;
  align-items: center;
  padding: 0 60px;
  &__title {
    color: #ffffff;
    font-weight: 200;
    font-size: 48px;
    margin: 0;
    &-VR {
      color: #da00fe;
    }
  }
  &__subtitle {
    color: #ffffff;
    font-weight: 100;
    margin: 0;
    font-size: 32px;
  }
  &__text {
    color: #ffffff;
    font-weight: 600;
  }
  &__btn {
    background-color: #ffffff;
    border-radius: 16px;
    width: 180px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    &-text {
      background-color: #ffffff;
      color: #da00fe;
      border: none;
      font-size: 18px;
      font-weight: 100;
    }
  }
  &__VR-img {
    height: 350px;
    margin-top: -30px;
  }
}
.products {
  padding: 30px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__list-structure{
    margin: auto 80px;
    background-color: #323232;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: #323232;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
column-gap: 5px;
cursor: pointer;
    &-cart{
      background-color: #6a6666;
      width: 16px;
      height: 16px;
    }
    &-table{
      background-color: #6a6666;
      width: 60px;
      height: 10px;
    }
  }  
  gap: 20px;
  &__title {
    padding: 30px 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
  }
  &__product {
    background-color: #323232;
    width: 220px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 310px;
    padding-bottom: 30px;
    gap: 10px;
    &-img {
      max-width: 170px;
      max-height: 140px;
      position: relative;
    }
    &-name {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
    }
    &-type {
      color: #8a8a8a;
      font-size: 12px;
    }
    &-price {
      font-size: 16px;
      font-weight: 400;
      color: #da00fe;
    }
    &-color {
      color: #8a8a8a;
      font-size: 16px;
    }
    &-add {
      display: flex;
      cursor: pointer;
      &:hover .products__product-plus {
        background-color: #da00fe;
      }
    }
    &-btn {
      border: none;
      background-color: #323232;
      font-size: 12px;
      font-weight: 100;
      color: #ffffff;
      cursor: pointer;
    }
    &-plus {
      border-radius: 20px;
      background-color: #8a8a8a;
      color: #323232;
      width: 25px;
      height: 20px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      margin: 0;
    }
    &-favorites {
      position: absolute;
      bottom: 30px;
      right: 20px;
      cursor: pointer;
    }
  }
}
.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  &__content {
    background-color: #323232;
    border-radius: 20px;
    width: 100%;
    max-width: 370px;
    padding: 30px 60px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & h2 {
      margin: 10px 5px 0;
    }
    &-comment {
      color: rgb(143, 42, 42);
    }
  }
  &__close {
    margin: 10px 10px 5px 0;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(-45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(45deg);
    }
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    color: rgba(25, 25, 25, 1);
  }
  &__image {
    margin-bottom: 60px;
  }
  &__body {
    color: rgba(127, 127, 127, 1);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__footer {
    display: flex;
    gap: 40px;
  }
  &__first-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(138, 51, 253, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: none;
  }
  &__second-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: #323232;
    color: rgba(138, 51, 253, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: 1px solid rgba(138, 51, 253, 1);
  }
}
.footer {
  padding-top: 60px;
  display: flex;
  background-color: #323232;
  padding: 30px 60px;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
  &__info {
    width: 20%;
    & h3,
    p {
      color: #ffffff;
    }
  }
  & span {
    color: #ffffff;
  }
  &__socials {
    width: 100%;
    margin-left: 80px;
    display: flex;
    gap: 10px;
  }
}
.cart-page {
  justify-content: center;
  width: 100%;
  padding: 10px 60px;
  border-collapse: collapse;
  margin: auto auto 60px;
  &__path {
    padding: 10px 60px;
    color: #8a8a8a;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10%;
    padding: 10px;
    background-color: #514f4f4c;
    border-radius: 60px;
    &-message {
      font-size: 38px;
      color: #8a8a8a;
      text-align: center;
      & .link-Home {
        text-decoration: none;
        cursor: pointer;
        color: #550a78;
      }
    }
  }
  & .first-col {
    position: relative;
  }
  &__products-details {
    background-color: #323232;
    justify-content: space-between;

    & td {
      color: rgba(255, 255, 255, 1);
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0;
      text-align: center;
    }
  }
  & .product {
    position: relative;

    & td {
      text-align: center;
      padding: 20px 0;
    }
    &__about {
      padding-left: 100px;
      &-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
      }
      .product__about-color,
      .product__about-quantity {
        color: #8a8a8a;
        font-size: 15px;
      }
    }

    &__price,
    .product__subtotal {
      color: #da00fe;
      font-size: 18px;
    }
    &__shipping {
      color: #8a8a8a;
      font-size: 18px;
    }
    &__img {
      max-width: 170px;
      max-height: 140px;
      position: absolute;
      left: 100px;
    }


    &__delete{
      & button{background-color: #242424;
        border:#242424 ;
        cursor: pointer;
      }
    }
  }
  &__checkout {
    display: flex;
    width: 600px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: 60px;
    border: 2px solid #5d5c5c;
    padding: 40px;

    & p,
    span {
      color: #a49f9f;
      font-size: 18px;
      text-align: center;
      font-weight: 600;
    }
    & p span {
      margin-left: 80px;
    }
    & p {
      &::after {
        content: "";
        margin: 30px auto 0;
        display: block;
        width: 400px;
        height: 2px;
        background-color: #4e4c4c;
      }
    }
    & button {
      background-color: #a45ab1;
      border: none;
      padding: 10px 50px;
      margin-top: 0;
      color: #ffffff;
      font-weight: 700;
      border-radius: 30px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.link {
  color: #8a8a8a;
  text-decoration: none;
}
.active {
  color: #a100ed;
}
.path {
  text-decoration: none;
}

.wishlist {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  &__path {
    margin-left: 0;
    margin-right: auto;
    padding: 10px 60px;
    color: #8a8a8a;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10%;
    padding: 10px;
    background-color: #514f4f4c;
    border-radius: 60px;
    &-message {
      font-size: 38px;
      color: #8a8a8a;
      text-align: center;
      & .link-Home {
        text-decoration: none;
        cursor: pointer;
        color: #550a78;
      }
    }
  }
  &__title {
    padding: 10px 60px;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    margin-left: 0;
    margin-right: auto;
  }
  & .product {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    align-items: center;
    margin-bottom: 30px;

    &__delete {
      background-color: #323232;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(-45deg);
      }
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(45deg);
      }
    }
    &__img {
      left: 100px;
      max-width: 170px;
      max-height: 140px;
      position: absolute;
    }
    &__about {
      display: flex;
      flex-direction: column;
      margin-left: 240px;
      width: 700px;
      justify-content: space-between;
      &-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin: 10px;
      }
      &-color,
      .product__about-type {
        color: #8a8a8a;
        font-size: 15px;
        margin: 10px;
      }
    }
    &__price {
      color: #da00fe;
      font-size: 18px;
      margin-right: 40px;
    }
    &__add-to-cart {
      background-color: #a45ab1;
      border: none;
      padding: 15px 15px;
      color: #ffffff;
      font-weight: 700;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.checkout__path {
  color: #8a8a8a;
  padding: 10px 60px;
}

.checkout__title {
  padding: 10px 70px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  margin-bottom: 0;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 28px;
    background-color: #a100ed;
    left: 55px;
    position: absolute;
    top: 15px;
    border-radius: 20px;
  }
}
.wrapper__checkout {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  align-items: center;
  .checkout {
    padding: 30px 0;
    border-radius: 60px;
    border: 3px solid #b167be;
    background-color: #b167be;
    width: 650px;
    height: 654px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: auto repeat(5, 1fr);
    grid-template-areas:
      "subtitle subtitle"
      "first-name last-name"
      "year number"
      "address address"
      "email email"
      "submit submit";
    column-gap: 100px;
    row-gap: 30px;
    &__subtitle {
      color: rgba(255, 255, 255, 1);
      font-size: 21px;
      margin: 0;
      grid-area: subtitle;
    }
    &__label {
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
    }
    & .container {
      &__label {
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin: 0px 20px;
      }
      &__field {
        margin-top: 10px;
        padding: 10px 20px;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 20px;
        width: 200px;
        color: black;
        &:focus {
          outline: none;
          padding: 10px 25px;
        }
      }
      &__error-message {
        color: black;
        margin: 5px 15px;
      }
    }
    &__email-container {
      grid-area: email;
      & .container__field {
        width: 410px;
      }
    }
    &__number-container {
      grid-area: number;
    }
    &__first-name-container {
      grid-area: first-name;
    }
    &__last-name-container {
      grid-area: last-name;
    }
    &__address-container {
      grid-area: address;
      & .container__field {
        width: 410px;
      }
    }
    &__year-container {
      grid-area: year;
      & .container__field {
        width: 180px;
      }
    }
    & .email {
      width: 200px;
    }
    & .number {
      width: 130px;
    }
    & .year {
      width: 150px;
    }
    &__submit {
      border-radius: 20px;
      background-color: #8b3e97;
      width: 50%;
      grid-area: submit;
      height: 50px;
      border: 3px solid rgba(255, 255, 255, 1);
      color: rgba(255, 255, 255, 1);
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
.checkout__empty {
  background-color: #514f4f4c;
  border-radius: 60px;
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
  &-text {
    text-align: center;
    color: #8a8a8a;
    font-size: 38px;
    margin-bottom: 10px;
  }
}
.cart__wrapper {
  background-color: #dac9dd;
  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 30px;
  height: fit-content;
  padding-top: 20px;
  & .cart {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    &__title {
      color: black;
      text-align: center;
      font-size: 24px;
      margin-bottom: 40px;
      position: relative;
      border-spacing: 0;
      border-collapse: collapse;
    }
    & .product {
      position: relative;
      text-align: start;
      &__about {
        & p {
          font-weight: 600;
        }
        padding: 0 80px 0 0;
        text-align: center;
      }
      &__price {
        font-weight: 600;
      }

      &__img {
        max-width: 90px;
        max-height: 80px;
        padding: 0;
      }
    }
    & td {
      text-align: start;
      padding: 30px 10px;
    }
    &__grandtotal {
      font-weight: 600;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after {
        content: "";
        display: block;
        background-color: white;
        height: 3px;
        position: absolute;
        bottom: -20px;
        border-radius: 10px;
        left: 0;
        right: 0;
      }
      & span {
        font-size: 18px;
      }
    }
  }
}
.table__products {
  justify-content: center;
  width: 100%;
  padding: 10px 60px;
  border-collapse: collapse;
  margin-top: 30px;
  & .first-col {
    position: relative;
  }
  &-details {
    background-color: #323232;
    justify-content: space-between;

    & td {
      color: rgba(255, 255, 255, 1);
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0;
      text-align: center;
    }
  }
  & .product {
    position: relative;
    &-btn {
      background-color: #323232;
      border: none;
      padding: 15px 15px;
      color: #ffffff;
      font-weight: 700;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #8b3e97;
      }
    }
    & td {
      text-align: center;
      padding: 20px 0;
    }
    &__about {
      padding-left: 100px;
      &-name,
      .product__about-type, .product__about-color {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
      }
    }
    &__price {
      color: #da00fe;
      font-size: 18px;
    }

    &__img {
      max-width: 170px;
      max-height: 140px;
      position: absolute;
      left: 100px;
    }
    &__favorites{
      cursor: pointer;
    }
  }
}
.PageNotFound{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  position: relative;
  &__404{
    margin: 0;
    padding-top: 150px;
    padding-right: 300px;
    text-align: center;
    color: #550a78;
    letter-spacing: 10px;
    font-size: 155px;
    text-shadow: 
    1px 1px 0px #4f0b6f,
    2px 2px 0px #440a5e,
    3px 3px 0px #3b0952,
    4px 4px 0px #330946,
    5px 5px 0px #2b083b,
    6px 6px 0px #23082f,
    7px 7px 0px #1e0827,
    8px 8px 0px #1a0822,
    9px 9px 0px #16071c,
    10px 10px 0px #140719,
    11px 11px 0px #100614,
    12px 12px 0px #0d0510
  }
  &__img{
    position: absolute;
    top: 70px;
    right: 300px;
  }
  &__Ooops{
    margin: 0;
    padding-right: 400px;
    text-align: center;
    color: #69397e;
    font-size: 48px;
    font-weight: 300;
    text-shadow: 
    0 0 10px #5d336f,
    0 0 20px #4a2b56,
    0 0 30px #382141,
    0 0 40px #34223b,
    0 0 50px #2d1e33,
    0 0 60px #261a2b,
    0 0 70px #221826,
  }
  &__title{
    margin-top: 0;
    padding-right: 300px;
    text-align: center;
    color: #69397e;
    font-size: 48px;
    font-weight: 300;
    text-shadow: 
    0 0 10px #5d336f,
    0 0 20px #4a2b56,
    0 0 30px #382141,
    0 0 40px #34223b,
    0 0 50px #2d1e33,
    0 0 60px #261a2b,
    0 0 70px #221826,
  }
  &__button{
   margin-right: 45%;
   margin-left: 35%;
   width: 180px;
   cursor: pointer;
   height: 50px;
   background-color:#550a78;
   border-radius: 10px;
   border:#550a78;
   box-shadow: 
   1px 1px 0px #4f0b6f,
   2px 2px 0px #4b0f67,
   3px 3px 0px #3b0952,
   4px 4px 0px #330946,
   5px 5px 0px #340a47,
   6px 6px 0px #2c0c3a;
   font-weight:600;
   font-size: 18px;
   letter-spacing: 1px;
  }
}
